/** remove the white space between nav and div**/
.navbar{
  margin-bottom: 0;
}

/** resize carousel images to same size**/
.peopleCarouselImg img {
  width: auto;
  /*height: 700px;
  max-height: 700px;*/
}
/**carousel fullscreen**/
html,body{height:100%;}
.carousel,.item,.active{
  height:100%;
}
.carousel-inner{
  height:100%;
}

/**place caption in right spot**/
.carousel-caption {
  padding: 0 20px;
  margin:0 auto;
  margin-bottom: 300px;
  text-align:center;
}


#footer{
  min-height: 200px;
}

/** round circle buttons**/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle:hover,
.btn-circle:focus{
    color: #dd3333;
    font-size: 20px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
/** vertically align div content**/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#pre-footer{
  min-height: 200px;
}

.ufo-red-btn{
  background-color: #dd3333;
}
.ufo-orange-btn{
  background-color: #dd9933;
}
.ufo-light-red{
  background-color: #f2dede;
}
.ufo-navbar{
  background-color: #f2dede;
}
.carousel-caption{
  color: #dd3333;
}
#img-brand-ufo{
  max-width:100px; 
  margin-top: -45px;
}
.carousel-control, .carousel-control:focus, .carousel-control:hover{
  color: #dd3333;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.ufo-text-red{
  color: #dd3333;
}
.carousel-indicators li {
  border-color: #dd3333;
}
.carousel-indicators .active {
  background-color: #dd3333;
}
#map-container {
	min-height: 700px
}