<div class="row">
	<div class="col-sm-12">
	  <h3>FIXTURES &amp RESULTS</h3>
	</div>
	<div class="col-sm-12 table-responsive center">
		<table class="table table-striped">
		  <tr class="danger">
			<td>May 27, 2017</td>
			<td>Field (Centerpointe Pk)</td>
			<td>Home</td>
			<td>Away</td>
			<td>Equipment</td>
			<td>Score</td>
		  </tr>
		  <tr>
			<td><a href="#" target="">10:00 AM</a></td>
			<td>Center East</td>
			<td><a class="" href="#">Volt FC</a></td>
			<td><a class="" href="#" target="">The Hulks</a></td>
			<td>Volt FC</td>
			<td>7 - 3</td>
		  </tr>
		  <tr>
			<td><a href="#">10:00 AM</a></td>
			<td>East</td>
			<td><a class="" href="#">Dark Smurfs</a></td>
			<td><a class="" href="#">Viper FC</a></td>
			<td>Dark Smurfs</td>
			<td>1 - 3</td>
		  </tr>
		  <tr>
			<td><a href="#">11:30 AM</a></td>
			<td>Center East</td>
			<td><a class="" href="#">Hornets</a></td>
			<td><a class="" href="#">Club Paradise FC</a></td>
			<td>Club Paradise FC</td>
			<td>4 - 7</td>
		  </tr>
		  <tr>
			<td><a class="" href="#">11:30 AM</a></td>
			<td>East</td>
			<td><a class="" href="#">Spartans FC</a></td>
			<td><a class="" href="#">Misfits</a></td>
			<td>Misfits</td>
			<td>3 - 2</td>
		  </tr>
		  <!--next game-->
		  <tr class="danger">
			<td>June 3rd, 2017</td>
			<td>Game 2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		  </tr>
		  <tr>
			<td><a href="#" target="">10:00 AM</a></td>
			<td>Center East</td>
			<td><a class="" href="#">Club Paradise FC</a></td>
			<td><a class="" href="#" target="">Viper FC</a></td>
			<td>Viper FC</td>
			<td>3 - 8</td>
		  </tr>
		  <tr>
			<td><a href="#">10:00 AM</a></td>
			<td>Center West</td>
			<td><a class="" href="#">Hornets</a></td>
			<td><a class="" href="#">Misfits</a></td>
			<td>Hornets</td>
			<td>5 - 3</td>
		  </tr>
		  <tr>
			<td><a href="#">11:30 AM</a></td>
			<td>Center East</td>
			<td><a class="" href="#">The Hulks</a></td>
			<td><a class="" href="#">Spartan FC</a></td>
			<td>The Hulks</td>
			<td>3 - 2</td>
		  </tr>
		  <tr>
			<td><a class="" href="#">11:30 AM</a></td>
			<td>Center West</td>
			<td><a class="" href="#">Darsk Smurfs</a></td>
			<td><a class="" href="#">Volt FC</a></td>
			<td>Volt FC</td>
			<td>2 - 2</td>
		  </tr>
		  <!--next game-->
		  <tr class="danger">
			<td>June 10th, 2017</td>
			<td>Game 3</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		  </tr>
		  <tr>
			<td><a href="#" target="">10:00 AM</a></td>
			<td>Center East</td>
			<td><a class="" href="#">Misfits</a></td>
			<td><a class="" href="#" target="">The Hulks</a></td>
			<td>Misfits</td>
			<td>1 - 6</td>
		  </tr>
		  <tr>
			<td><a href="#">10:00 AM</a></td>
			<td>Center West</td>
			<td><a class="" href="#">Volt FC</a></td>
			<td><a class="" href="#">Viper FC</a></td>
			<td>Viper FC</td>
			<td>2 - 3</td>
		  </tr>
		  <tr>
			<td><a href="#">11:30 AM</a></td>
			<td>Center East</td>
			<td><a class="" href="#">Spartans FC</a></td>
			<td><a class="" href="#">Club Paradise FC</a></td>
			<td>Spartan FC</td>
			<td>7 - 3</td>
		  </tr>
		  <tr>
			<td><a class="" href="#">11:30 AM</a></td>
			<td>Center West</td>
			<td><a class="" href="#">Darsk Smurfs</a></td>
			<td><a class="" href="#">Hornets</a></td>
			<td>Dark Smurfs</td>
			<td>0 - 1</td>
		  </tr>
		  <!--next game-->
		  <tr class="danger">
			<td>June 17th, 2017</td>
			<td>Game 4</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		  </tr>
		  <tr>
			<td><a href="#" target="">10:00 AM</a></td>
			<td>Center East</td>
			<td><a class="" href="#">Dark Smurfs</a></td>
			<td><a class="" href="#" target="">Spartans FC</a></td>
			<td>Dark Smurfs</td>
			<td>3 - 7</td>
		  </tr>
		  <tr>
			<td><a href="#">10:00 AM</a></td>
			<td>Center West</td>
			<td><a class="" href="#">Club Paradise FC</a></td>
			<td><a class="" href="#">Misfits</a></td>
			<td>Misfits</td>
			<td>1 - 3</td>
		  </tr>
		  <tr>
			<td><a href="#">11:30 AM</a></td>
			<td>Center East</td>
			<td><a class="" href="#">Viper FC</a></td>
			<td><a class="" href="#">The Hulks</a></td>
			<td>The Hulks</td>
			<td>8 - 1</td>
		  </tr>
		  <tr>
			<td><a class="" href="#">11:30 AM</a></td>
			<td>Center West</td>
			<td><a class="" href="#">Hornets</a></td>
			<td><a class="" href="#">Volt FC</a></td>
			<td>Volt FC</td>
			<td>1 - 3</td>
		  </tr>

		   <!--next game-->
		  <tr class="danger">
			<td>June 24th, 2017</td>
			<td>Game 5</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		  </tr>
		  <tr>
			<td><a href="#" target="">10:00 AM</a></td>
			<td>Center East</td>
			<td><a class="" href="#">The Hulks</a></td>
			<td><a class="" href="#" target="">Hornets</a></td>
			<td>Hornets</td>
			<td>4 - 3</td>
		  </tr>
		  <tr>
			<td><a href="#">10:00 AM</a></td>
			<td>Center West</td>
			<td><a class="" href="#">Volt FC</a></td>
			<td><a class="" href="#">Misfits</a></td>
			<td>Misfits</td>
			<td>5 - 4</td>
		  </tr>
		  <tr>
			<td><a href="#">11:30 AM</a></td>
			<td>Center East</td>
			<td><a class="" href="#">Dark Smurfs</a></td>
			<td><a class="" href="#">Club Paradise FC</a></td>
			<td>Club Paradise FC</td>
			<td>9 - 4</td>
		  </tr>
		  <tr>
			<td><a class="" href="#">11:30 AM</a></td>
			<td>Center West</td>
			<td><a class="" href="#">Spartans FC</a></td>
			<td><a class="" href="#">Viper FC</a></td>
			<td>Spartans FC</td>
			<td>1 - 2</td>
		  </tr>

		</table>
	  </div>
  </div>