<div class="col-sm-12">
	<h2>Schedule</h2>
	<div ng-repeat="league in leagues">
			<p class="bg-primary">
				id: {{league.id}} <br>
				Start Date <i class="fa fa-futbol"></i>: {{league.start_date | date: 'yyyy-MM-dd HH:mm'}} <br>
				End Date <i class="fa fa-futbol"></i>: {{league.end_date | date: 'yyyy-MM-dd HH:mm'}} <br>
				<span>League Name:</span> {{ league.league_name }} <br> 
				<span>WeekDay:</span> {{ league.week_day }}<br>
				<span>number of teams</span> {{league.number_of_teams}} <br>
				<span>Location</span> {{league.location}} <br>
				<span>League manager</span> {{league.league_manager}} <br>
				<span>difficult Level</span> {{league.difficulty_level}}
			</p>
	</div>
</div>