<!--league table starts-->
<div class="col-sm-4 center">
	<div class="col-sm-12" style="border-bottom: solid 5px #f2dede;margin-bottom:10px;">
	  <h4> SATURDAY LEAGUE TABLE</h4>
	</div>
	<div class="col-sm-12 table-responsive center">
	  <table class="table table-striped">
		<tr class="danger">
		  <td>#</td>
		  <td>Team</td>
		  <td>GP</td>
		  <td>W</td>
		  <td>L</td>
		  <td>D</td>
		  <td>+/-</td>
		  <td>PTS</td>
		</tr>
		<!--ng-repeat teams and table and points-->
		<tr>
		  <td>1</td>
		  <td><a href="#">Dark Smurfs</a></td>
		  <td>0</td>
		  <td >0</td>
		  <td >0</td>
		  <td >0</td>
		  <td >0</td>
		  <td >0</td>
		</tr>
	  </table>
	  <br>
	</div>
  </div>

  <div class="col-sm-12">
	<h2>SATURDAY LEAGUE TABLE</h2>
		<table class="table table-striped">
		  <tr class="danger">
			<td>#</td>
			<td>Team</td>
			<td>GP</td>
			<td>W</td>
			<td>L</td>
			<td>D</td>
			<td>+/-</td>
			<td>PTS</td>
		  </tr>
		  <tr class="bg-success">
			<td>1</td>
			<td><a class="" href="#">Vipers FC</a></td>
			<td>8</td>
			<td>8</td>
			<td>0</td>
			<td>0</td>
			<td>26</td>
			<td>24</td>
		  </tr>
		  <tr>
			<td>2</td>
			<td><a class="" href="#">Spartans FC</a></td>
			<td>8</td>
			<td>6</td>
			<td>2</td>
			<td>0</td>
			<td>10</td>
			<td>18</td>
		  </tr>
		  <tr>
			<td>3</td>
			<td><a class="" href="#">Volt FC</a></td>
			<td>8</td>
			<td>5</td>
			<td>2</td>
			<td>1</td>
			<td>10</td>
			<td>16</td>
		  </tr>
		  <tr>
			<td>4</td>
			<td><a class="" href="#">The Hulks</a></td>
			<td>8</td>
			<td>4</td>
			<td>4</td>
			<td>0</td>
			<td>10</td>
			<td>12</td>
		  </tr>
		  <tr>
			<td>5</td>
			<td><a href="#">Dark Smurfs</a></td>
			<td>8</td>
			<td>3</td>
			<td>4</td>
			<td>1</td>
			<td>1</td>
			<td>10</td>
		  </tr>
		  <tr>
			<td>6</td>
			<td><a href="#">Hornets</a></td>
			<td>8</td>
			<td>3</td>
			<td>5</td>
			<td>0</td>
			<td>-7</td>
			<td>9</td>
		  </tr>
		  <tr>
			<td>7</td>
			<td><a href="#">Misfits</a></td>
			<td>8</td>
			<td>1</td>
			<td>7</td>
			<td>0</td>
			<td>-17</td>
			<td>3</td>
		  </tr>
		  <tr>
			<td>8</td>
			<td><a href="#">Club Paradise FC</a></td>
			<td>8</td>
			<td>1</td>
			<td>7</td>
			<td>0</td>
			<td>-34</td>
			<td>3</td>
		  </tr>
		</table>
	</div>